<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}{{subject}}{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='show.css') }}">
{% endblock %}
{% block subject %}{{subject}}{% endblock %}
{% block content %}
<body background={{ images[image_id]['image_url'] }} style="color: ivory;">
        <div class="quote">
            <p>
                {{ quotes[quote_id]['quote'] }}
            </p>
        </div>
        <div class="author">
            {{ quotes[quote_id]['author'] }}
        </div>
</body>
{% endblock %}
