.download {
    text-align: left;
    font-family: 'lora';
    font-size: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
}

svg {
    display: inline-block;
    vertical-align: -.125em;
}

.download a{
    text-decoration: none;
    display: inline-block;
    color: white;
}

.quote {
    top: 40%;
    font-family:  'lora', serif;
    font-size: 2em;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.author {
    width: 36em;
    font-family: 'lora', serif;
    font-size: 1em;
    text-align: right;
    padding-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    position: absolute;
    right: 5em;
}

.quote p {
    text-indent: 1.5em;
}
